*{
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: black;
}
.app__body {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.app__container {
  background: black;
  width: 1042px;
  height: 100%;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
}
@media screen and (max-width: 850px) {
  .App{
      display: flex;
    flex-direction: column;
      width: 100%;
  }
  .app__header{
   
  }

  .app__container{
    width: 100%;
    flex-direction: column;
  }
  }