.news {
    color: white;
    flex: .7;
  }
.news__portfolio{
    text-align: left;
}
.news__portfolio > h1{
    margin:0;
}
.news__portfolio > p{
    margin-top: 0;
}
.news__chart{
    width: 100%;
}
.news_chartSection{
    display: flex;
    flex-direction: column;
}
.lineGraph{
    height: 20px;
}