
.stats {
  background-color: #1e2023;
  
  border: 1px solid #424940;
   margin: 2%;
    flex: .3;
    flex-shrink: 0;
    padding: 0px;
    color:white;
    height: 100%;
  }

.stats_container{
    flex-direction: column;
    flex: 1;
    width: 100%;
 
  }

  .stats__header{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #424940 ;
    padding: 20px 20px 10px 20px;
    font-weight: 600;
  }
  

  @media screen and (max-width: 850px) {
    .stats{
        display: flex;
        
        width: 100%;
    }
    }